* {
    margin: 0px;
    padding: 0px;
}

:root {
    --padding-player: .5%;
    --border-size: 1px;
    --circle-width: 100%;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(87, 160, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    background-color: rgb(254, 240, 240);
    /* display: flex; */
    position: relative;
}

.main-for-desktop {
    height: 100vh;
    aspect-ratio: 1 / 1;

}

.main-for-phone {
    width: 100%;
    aspect-ratio: 1 / 1;

}

.player {
    width: 35%;
    height: 35%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green {
    background-color: green;
    position: absolute;
    top: var(--padding-player);
    left: var(--padding-player);
}

.yellow {
    background-color: yellow;
    position: absolute;
    top: var(--padding-player);
    right: var(--padding-player);
}

.blue {
    background-color: blue;
    position: absolute;
    bottom: var(--padding-player);
    right: var(--padding-player);
}

.red {
    background-color: red;
    position: absolute;
    position: absolute;
    bottom: var(--padding-player);
    left: var(--padding-player);
    border: var(--border-size) solid black;
}

.field {
    width: 29%;
    height: 35%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: .5%;
}

.shells {
    border: var(--border-size) solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stamp {
    font-size: 200%;
}

.green-arrow {
    font-size: 170%;
    color: green;
}

.red-arrow {
    font-size: 170%;
    color: red;
}

.yellow-arrow {
    font-size: 170%;
    color: rgb(227, 227, 5);
}

.blue-arrow {
    font-size: 170%;
    color: blue;
}

.yellow-field {
    position: absolute;
    top: 0px;
    left: 35.5%;
}


.blue-field {
    width: 35%;
    height: 29%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 35%;
    left: 64.5%;
    right: 0px;
}

.red-field {
    width: 29%;
    height: 35%;
    position: absolute;
    bottom: 0px;
    left: 35.5%;
    padding-top: 0px;
    padding-bottom: .5%;
}

.green-field {
    width: 35%;
    height: 29%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding-left: .5%;
    padding-right: 0px;
    position: absolute;
    top: 35%;
    left: 0px;
}

.home {
    width: 29%;
    height: 29%;
    background-color: blue;
    position: absolute;
    top: 35.5%;
    left: 35.5%;
}

.y-shell6,
.y-shell5,
.y-shell8,
.y-shell11,
.y-shell14,
.y-shell17 {
    background-color: yellow;
}

.r-shell6,
.r-shell5,
.r-shell8,
.r-shell11,
.r-shell14,
.r-shell17 {
    background-color: red;
}


.g-shell6,
.g-shell5,
.g-shell8,
.g-shell11,
.g-shell14,
.g-shell17 {
    background-color: green;
}

.b-shell6,
.b-shell5,
.b-shell8,
.b-shell11,
.b-shell14,
.b-shell17 {
    background-color: blue;
}

.player-innerbox {
    width: 70%;
    height: 70%;
    background-color: white;
    border: var(--border-size) solid black;
    position: relative;
}

.player-innercircle-g,
.player-innercircle-b,
.player-innercircle-r,
.player-innercircle-y {
    width: 26.66%;
    height: 26.66%;
    background-color: green;
    border: var(--border-size) solid black;
    border-radius: 50%;
}

.player-innercircle-b {
    background-color: blue;
}

.player-innercircle-r {
    background-color: red;
}

.player-innercircle-y {
    background-color: yellow;
}


.circle1 {
    position: absolute;
    top: 10%;
    left: 10%;
    border: var(--border-size) solid black;
    display: flex;
    justify-content: center;
}

.circle2 {
    position: absolute;
    top: 10%;
    right: 10%;
    border: var(--border-size) solid black;
    display: flex;
    justify-content: center;
}

.circle3 {
    position: absolute;
    bottom: 10%;
    left: 10%;
    border: var(--border-size) solid black;
    display: flex;
    justify-content: center;
}

.circle4 {
    position: absolute;
    bottom: 10%;
    right: 10%;
    border: var(--border-size) solid black;
    display: flex;
    justify-content: center;
}

.part {
    position: absolute;
    width: 100%;
    height: 100%;
    /* border: var(--border-size) solid black; */
}

.part1 {
    clip-path: polygon(0 0, 50% 50%, 0 100%);
    background-color: green;

}

.part2 {
    clip-path: polygon(100% 0, 50% 50%, 100% 100%);
    background-color: blue;
}

.part3 {
    clip-path: polygon(0 0, 100% 0, 50% 50%);
    background-color: yellow;
}

.part4 {
    clip-path: polygon(0 100%, 100% 100%, 50% 50%);
    background-color: red;
}

.pawn-g,
.pawn-y,
.pawn-b,
.pawn-r {
    position: absolute;
    font-size: 300%;
    bottom: 40%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.pawn-y {
    color: rgb(221, 206, 35);
}

.pawn-g {
    color: rgb(0, 208, 14);
}

.pawn-r {
    color: rgb(221, 85, 35);
}

.pawn-b {
    color: rgb(0, 132, 208);
}


.dice-box-g {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    top: 2%;
    left: -27%;
    z-index: 1;
}

.dice-box-r {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    bottom: 2%;
    left: -27%;
    z-index: 1;
}

.dice-box-y {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    top: 2%;
    right: -27%;
    z-index: 1;
    transform: rotatey(180deg);
}

.dice-box-b {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    position: absolute;
    bottom: 2%;
    right: -27%;
    z-index: 1;
    transform: rotatey(180deg);
}

.dice-pic {
    position: absolute;
    left: 0px;
    width: 50%;
    height: 80%;
    /* background-color: blueviolet; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, blue, blue, #A4C6BD);
    border: 2px solid yellow;
}

.pawn-g-pic,
.pawn-r-pic,
.pawn-y-pic,
.pawn-b-pic {
    font-size: 300%;
    filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
}

.pawn-y-pic {
    color: rgb(221, 206, 35);
}

.pawn-g-pic {
    color: rgb(0, 208, 14);
}

.pawn-r-pic {
    color: rgb(221, 85, 35);
}

.pawn-b-pic {
    color: rgb(0, 132, 208);
}

.dice-container {
    width: 50%;
    height: 100%;
    background-color: #A4C6BD;
    position: absolute;
    right: 0px;
    /* background: linear-gradient(to top, rgb(196, 160, 160), rgb(208, 197, 197), white); */
    /* border: 2px solid yellow; */
    border-right: 2px solid yellow;
    border-top: 2px solid yellow;
    border-bottom: 2px solid yellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-dice {
    width: 80%;
    height: 90%;
    background: linear-gradient(to top, rgb(196, 160, 160), rgb(208, 197, 197), white);
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-width:1150px) {
    .main-for-desktop {
        height: 80vh;
        aspect-ratio: 1 / 1;

    }
}

@media (max-width:917px) {
    .main-for-desktop {
        height: 60vh;
        aspect-ratio: 1 / 1;

    }

    .pawn-g,
    .pawn-y,
    .pawn-b,
    .pawn-r {
        font-size: 200%;
    }

    .pawn-g-pic,
    .pawn-r-pic,
    .pawn-y-pic,
    .pawn-b-pic {
        font-size: 200%;
    }
}

@media (max-width:700px) {
    .main-for-desktop {
        height: 55vh;
        aspect-ratio: 1 / 1;

    }
}


@media (max-width:630px) {
    .dice-box-g {
        top: -12%;
        left: 0px;
    }
    
    .dice-box-r {
        bottom: -12%;
        left: 0px;
    }
    
    .dice-box-y {
        top: -12%;
        right: 0px;
    }
    
    .dice-box-b {
        bottom: -12%;
        right: 0px;
    }
}

@media (max-width:550px) {

    .pawn-g,
    .pawn-y,
    .pawn-b,
    .pawn-r {
        font-size: 200%;
        bottom: 40%;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    }

    .stamp {
        font-size: 120%;
    }

}

@media (max-width:410px) {
    .pawn-g-pic,
    .pawn-r-pic,
    .pawn-y-pic,
    .pawn-b-pic {
        font-size: 150%;
    }
}


@media (max-width:350px) {

    .pawn-g,
    .pawn-y,
    .pawn-b,
    .pawn-r {
        font-size: 150%;
        bottom: 40%;
        filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.5));
    }

    .stamp {
        font-size: 80%;
    }

}